.container{
   
    color:black;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

}
body{
     background-image:url(https://www.pixelstalk.net/wp-content/uploads/2016/06/Download-HD-Nature-Backgrounds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.para{
    padding:20px
    
}