body{
    background:linear-gradient(to right,rgb(198, 244, 31),rgb(244, 122, 23));
}
h1{
    text-align: center;
    display:inline;
    background-color:gold;

}
p{
 text-align: right;
 
}
.total{
    background-color:rgb(247, 30, 30);
    width: 590px;
    height:700px;
    margin-left: 350px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    
}
.bir{
    background-color: white;
   border-radius: 5px;
   width:200px;
   height:130px;
   
}
.piz{
    background-color: white;
     border-radius: 5px;
     width:200px;
   height:130px;
   
}
.bur{
    background-color: white;
     border-radius: 5px;
     width:200px;
   height:130px;
   
}

img{
    margin-left: 50px;
    margin-top: 20px;
}
.bi{
    background-color: white;
   border-radius: 5px;

   height:130px;
   width:100px;
    margin-left:50px;
}
.pi{
    background-color: white;
   border-radius: 5px;
     
   height:130px;
   
     margin-left:50px;
}
.bu{
    background-color: white;
   border-radius: 5px;
 
   height:130px;
   
 margin-left:50px;
}
.total li{
    list-style: none;
}