body{
    background-color: black;
}
.first{
    background-color:rgb(13, 0, 33);
    width:150px;
    height:1000px;
}
.first h2{
    color: white;
}
.first li{
    list-style: none;
    color: rgb(180, 178, 178);
    margin-right: 20px;
    padding-bottom:20px;
    
}
.Revenue{
    background-color: rgb(35, 27, 50);
    width:250px;
    height: 100px;
    border-bottom:solid aqua;
    border-radius: 10px;
     border-width: 2px;
    display: inline-block;
    color:white;
    margin-top: 10px;
}
.cat{
     background-color: rgb(35, 27, 50);
    width:250px;
    height: 100px;
    border-radius: 10px;
    
    border-bottom:solid aqua;
    border-width: 2px;
    display: inline-block;
    color:white;
    margin-top: 10px;
}
.mat{
     background-color: rgb(35, 27, 50);
      color:white;
    width:250px;
    height: 100px;
     border-bottom:solid aqua;
      border-width: 2px;
     display: inline-block;
     margin-top: 10px;
     margin-left: 10px;
}
.rat{
    display: grid;
    grid-template-columns: 50% 50%;
     
}
.third{
   

}
.active{
     width: 300px;
    height:700px;
    background-color: rgb(10, 10, 32);
    display:inline-block;
    color: white;
}
.super{
     width: 150px;
    height:700px;
    background-color: rgb(10, 10, 32);
      display:inline-block;
      color: white;
}