.one{
    
    background-color: black;
    color:white;
    margin:10px;
    text-align: center;
}
.two{
    background-color: bisque;
    margin: 50px;

     border-width:10px;
    border-color: black;
    border-style: solid;
}
}