
.right{
    border-color: black;
    border-top:solid;
    border-right:solid;
    border-width:2px;
    text-align: center;
    width:300px;
    height: 600px;
    display:inline-block;
    border-radius: 10px;
    background-color: blueviolet;
   
}
.left{
    border-color: black;
    border-top:solid;
    border-left:solid;
    border-width:2px;
    width:1000px;
    height: 600px;
    display:inline-block;
    border-radius: 10px;
    margin-left:200px;
    background-color: blueviolet;
}
.right h1:hover{
    color:white;
}
.left h2{
    color:rgb(245, 197, 245);
}
.left h1{
   color:white;
}
body{
    background-color: rgb(58, 0, 112);
}